/*==========================================================================
                                 Less then 1400px
============================================================================= */
@media (max-width: 1399.98px) {   






} /*------1400px---------*/






/*==========================================================================
                                 Less then 1200px
============================================================================= */
@media (max-width: 1199.98px) {  

        
    .section-center {
        padding: 0 30px;
    }

    a.nav-cta.btn {
        display: none;
    }






} /*------1200px---------*/






/*==========================================================================
                                 Less then 992px
============================================================================= */
@media (max-width: 991.98px) {  



} /*------992px---------*/








/*==========================================================================
                                 Less then 767px
============================================================================= */
@media (max-width: 767.98px) {  

    a.nav-cta.btn {
        display: none;
    }
    
    .section-center {
        padding: 0 30px;
    }
    
    img.toggle-menu {
        display: block !important;
        width: 40px;
    }
    .menu {
        display: none;
    }

} /*------767px---------*/









/*==========================================================================
                                 Less then 576px
============================================================================= */
@media (max-width: 575.98px) { 







} /*------576px---------*/
