/*==========================================================================
                                 Less then 1400px
============================================================================= */
@media (max-width: 1399.98px) {   






} /*------1400px---------*/






/*==========================================================================
                                 Less then 1200px
============================================================================= */
@media (max-width: 1199.98px) {  

        
    .section-center {
        padding: 0 30px;
    }

    a.nav-cta.btn {
        display: none;
    }


    section.banner-section {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .banner-hero img {
        width: 350px;
    }
    
    .banner-text h1 {
        font-size: 3.1rem;
    }
    
    .banner-text p {
        font-size: 1.15rem;
    }

    .footer-menu {
        left: 80px;
    }
    .footer-menu {
        left: 80px;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 50px;
    }
    
    .footer-container .footer-menu {
        left: 0;
    }
    
    .footer-menu h2, .footer-social h2 {
        margin-bottom: 20px;
    }
} /*------1200px---------*/






/*==========================================================================
                                 Less then 992px
============================================================================= */
@media (max-width: 991.98px) {  


    .banner-hero img {
        width: 100%;}
    
    .banner-text h1 {
        font-size: 2.4rem;
    }
    
    .banner-text p {
        font-size: 1rem;
    }
    
    
    .banner-text h1 {
        line-height: 2.6rem;
    }
    
    .std-container {
        flex-direction: column;
    }



    .story-card-single{
        display: none;
    }

    .hide-card{
        display: block;;
    }



    .banner-text p {
        width: 300px;
    }
    
    p.marquee {
        display: none;
    }

    .banner-container>div {flex: 1;}


} /*------992px---------*/







/*==========================================================================
                                 Less then 767px
============================================================================= */
@media (max-width: 767.98px) {  

    a.nav-cta.btn {
        display: none;
    }
    
    .section-center {
        padding: 0 30px;
    }
    
    img.toggle-menu {
        display: block !important;
        width: 40px;
    }
    .menu {
        display: none;
    }
    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    
    .banner-hero img {
        width: 100%;
    }


    .banner-text p {
        font-size: 1rem;
    }



    .banner-text h1 {
        line-height: 2.6rem;
    }
    
    .banner-text p {
        width: 300px;
    }
    
    p.marquee {
            display: none;
    }


span.date {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    text-align: left;
    text-transform: capitalize;
    background: rgb(3, 169, 244);
    padding: 5px 11px;
    border-radius: 25px;
    top: -34px;
    left: 19px;
}
.card-grid-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

span.date {
    left: auto;
    margin-left: auto;
    text-align: center;
}

.story-card h2,.story-card {
    text-align: center;
}



} /*------767px---------*/






/*==========================================================================
                                 Less then 576px
============================================================================= */
@media (max-width: 575.98px) { 

.logo h1{
    display: none;
}





} /*------576px---------*/
